<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <div class="card card-body">

      <form (submit)="edit ? updateAsignacion() : submitAsignacion()">
        <div class="form-group">
          <input type="text" name="docente" [(ngModel)]="asignacion.docente" class="form-control" placeholder="Docente">
        </div>
        <div class="form-group">
          <input type="text" name="materia" [(ngModel)]="asignacion.materia" class="form-control" placeholder="Materia" autofocus>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Save
        </button>
      </form>
    </div>
  </div>
</div>