<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <div class="card card-body">

      <form (submit)="edit ? updateAsignacion() : submitAsignacion()">
        <select name="docente" [(ngModel)]="asignacion.docente" class="custom-select">
          <option selected>Seleccione el Docente</option>
          
          <option *ngFor="let docente of docentes" value={{docente.nombres}}>{{docente.nombres}}</option>
        </select>
        <div class="form-group">
          <input type="text" name="materia" [(ngModel)]="asignacion.materia" class="form-control" placeholder="Materia" autofocus>
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Save
        </button>
      </form>
    </div>
  </div>
</div>